body {
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    padding-bottom: 5rem;
}
* {
    box-sizing: border-box;
}
h1 {
    font-weight: 500;
    margin: 0;
}
h2 {
    font-weight: 500;
    margin: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
}
section {
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
}
.flex {
    display: flex;
}
.ml-auto {
    margin-left: auto;
}
.mr-1 {
    margin-right: .2rem;
}
button, input {
    border: 1px solid rgba(80, 80, 150, 0.2);
    outline: none;
    background: white;
    margin-top: .4rem;
    padding: .5rem .4rem;
}
button {
    cursor: pointer;
    padding: .5rem 1rem;
}
input {
    flex-grow: 1;
    margin-right: .5rem;
}
button:hover {
    background: rgb(221, 234, 255);
}

.todoList {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    position: relative;
}
.todoList > div{
    width: 100%;
    border: 1px solid rgba(80, 80, 255, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: .5rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.todoList > div button {
    width: fit-content;
    text-transform: uppercase;
    padding: .3rem .3rem;
    flex-shrink: 0;
}
.title {
    font-weight: 500;
    font-size: 1.1rem;
}

.status {
    opacity: .7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th {
    font-weight: 500;
    text-align: left;
}
td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5rem;
}

.done {
    background: rgb(166, 238, 166);
}

.selected {
    background: rgb(166, 211, 238);
}